<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
</head>
<body>
    <form action="" method="post">
        {% csrf_token %}
        <label for="full_name">
            ФИО
            <input id="full_name" type="text" name="login">
        </label>
        <br>
        <br>
        <label for="email">
            Почта
            <input id="email" type="email" name="login">
        </label>
        <br>
        <br>
        <label>
            Выберите пол:
            <br>
            Мужской <input type="radio" name="gender">
            <br>
            Женский <input type="radio" name="gender">
        </label>

<!--        <input type="submit" value="Отправить">-->
        <br>
        <br>
        <button type="submit">Отправить</button>
    </form>

</body>
</html>